:root{
    --branco-principal: #ffffff;
    --preto-fundo: #00030c;
    --azul-botao: #167BF7;
    --cinza-escrita:#c0c0c0;
    --fonte-principal: 'inter';
}

body{
    background-color: var(--preto-fundo);
    color: var(--branco-principal)
    font-family: var(--fonte-principal);
    font-size:16px;
    

}
*{
    margin: 0;
    padding: 0;
}

.principal{
    background-image: url("Background-1.png");
    background-repeat: no-repeat;
    background-size:  contain;

}
.conteiner{
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}
.conteiner_botao{
    background-color: var(--azul-botao);
    border-radius: 5px;
    padding: 1em;
    color: var(--branco-principal);
    display: block;
}
.botao_secundario{
    background-color: transparent;
    border: 2px solid var(--branco-principal);
}








